body{
    padding-top: 20px;
   

}


.col-md-8{

    border-left: 2px solid black;
    height: 100%;
    position: absolute;


}

.left-content{
    margin-left: 0px;
    float: left;
    position: fixed;
}

.input-tables{

    width: 300px;
    height: 40px;
    margin-left: 0px;


}

.input-menu{

    margin-left: 100px;
    width: 600px;
    height: 40px;

}
.tableDiv{

    border: 1px solid black;
    width: 300px;
    margin: 30px;
    padding: 5px;
    margin-left: 0px;
    
    
}
.menuDiv{
    border: 1px solid black;
    border-radius: 5%;
    width: 300px;
    
    margin-left: 200px;
    padding: 5px;

}

.bill {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
   
    background-color: rgba(0,0,0,0.4);
}


.bill-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


.close {
    color:red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}



th{

    border: 1px solid black;
    background-color: coral;
    padding:5px;

    
   

}

td{

    border: 1px solid black;
    padding: 5px;

}